@import "tailwindcss";

button{
    border: solid;
    padding: 2px 5px;
    border-radius: 15px;
    cursor: pointer;

}


.swiper {
    width: 100%;
    height: 50%;
}
.swiper-slide {
    height: 100%;
    text-align: center;
    font-size: 18px;
    background: #444;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 50%;
    object-fit: cover;
}
